<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Tee Haven</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="../../../static/img/logo_teehaven.png" rel="icon">
    <link href="../../../static/img/apple-touch-icon.png" rel="apple-touch-icon">


    <!-- Favicons -->
    <div th:replace="~{admin-template/fragment/header :: header}"></div>


</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/ban-hang-tai-quay/hoa-don" class="logo d-flex align-items-center">
            <img src="../../../static/img/logo_teehaven.png" alt="">
            <span class="d-none d-lg-block">Tee Haven</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/thong-ke">
                <i class="bi bi-graph-up-arrow"></i>
                <span>Thống Kê</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/ban-hang-tai-quay/hoa-don">
                <i class="bi bi-shop"></i>
                <span>Bán Hàng</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Quản Lý Sản Phẩm</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/san-pham-chi-tiet">
                        <i class="bi bi-circle"></i><span>Sản Phẩm Chi Tiết</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/san-pham">
                        <i class="bi bi-circle"></i><span>Sản Phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/thuong-hieu">
                        <i class="bi bi-circle"></i><span>Thương Hiệu</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/tay-ao">
                        <i class="bi bi-circle"></i><span>Tay áo</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/mau-sac">
                        <i class="bi bi-circle"></i><span>Màu Sắc</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/kich-co">
                        <i class="bi bi-circle"></i><span>Kích Cỡ</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/ban-hang-tai-quay/hoa-don/quan-ly">
                <i class="bi bi-receipt-cutoff"></i>
                <span>Quản Lý Hóa Đơn</span>
            </a>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
            <a class="nav-link" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person-vcard"></i><span>Quản Lý Tài Khoản</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/nhan-vien">
                        <i class="bi bi-circle"></i><span>Quản lý nhân viên</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/khach-hang" class="active">
                        <i class="bi bi-circle"></i><span>Quản lý khách hàng</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="../admin/voucher">
                <i class="bi bi-ticket-perforated-fill"></i>
                <span>Quản Lý Voucher</span>
            </a>
        </li><!-- End Icons Nav -->
    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    </div>
</main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">

    </div>
    <div class="credits">
        Website bán áo Tee Haven
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<div th:replace="~{admin-template/fragment/script :: script}"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<style>
    .modal-dialog {
        position: relative;
        right: -27%; /* Đẩy modal sang bên phải */
        transform: translateX(0); /* Đảm bảo modal không bị dịch chuyển thêm */
    }
</style>
</body>


</html>